{% extends 'album/index.html' %}
{% load static %}

{% block seccionCentral %}
<h1 class="fw-light">Editar mi Perfil</h1>
{% endblock %}

{% block entradasBlock %}
    {% if form %}
    <div class="shadow p-4 mb-5 bg-body rounded">
    <form action="{% url 'editarPerfil' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>          
    </form>
    </div>
    {% endif %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>          
        {% endfor %}
    {% endif %}
    {% if mensaje %}        
    <div class="alert alert-info" role="alert">
        {{ mensaje }}
    </div>                 
    {% endif %}
{% endblock %}