{% extends 'album/index.html' %}
{% load static %}

{% block seccionCentral %}
<h1 class="fw-light">Nuevo Mensaje</h1>
{% endblock %}

{% block entradasBlock %}
    {% if form %}
    <div class="shadow p-4 mb-5 bg-body rounded">
        <a href="{% url 'mensajeria:bandejaEntrada' %}" class="btn btn-sm btn-outline-primary">Volver</a>
    <form action="{% url 'mensajeria:nuevoMensaje' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>
    {% endif %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>           
        {% endfor %}
    {% endif %}
{% endblock %}